{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'space/css/styles.css' %}">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <nav class="navbar bg-body-tertiary">
  <div class="container">
    <a>
      <img src="" alt="Bootstrap" width="40" height="30">
    </a>
  </div>
    </nav>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">О сайте</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'news' %}">Новости</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Частные компании
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'space_x' %}">SpaceX</a></li>
            <li><hr class="dropdown-divider"></li> <!--Разделитель между пунктами списка-->
            <li><a class="dropdown-item" href="{% url 'northrop_grumman' %}">Northrop Grumman</a></li>
            <li><hr class="dropdown-divider"></li> <!--Разделитель между пунктами списка-->
            <li><a class="dropdown-item" href="{% url 'rocket_lab' %}">Rocket Lab</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Госкорпорации
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Роскосмос</a></li>
            <li><hr class="dropdown-divider"></li> <!--Разделитель между пунктами списка-->
            <li><a class="dropdown-item" href="#">NASA</a></li>
            <li><hr class="dropdown-divider"></li> <!--Разделитель между пунктами списка-->
            <li><a class="dropdown-item" href="#">CNSA</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rockets_categories' %}">Ракеты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Войти</a>
        </li>
      </ul>
      {% include 'space/includes/modal_window.html' %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
</body>
</html>
