/* Определяем переменные для цветов панели навигации */
:root {
    --navbar-bg-color: #red;
    --navbar-text-color: red;
    --navbar-hover-bg-color: #54345;
    --navbar-hover-text-color: red;
}

/* Применяем переменные для стилей панели навигации */
.navbar {
    background-color: var(--navbar-bg-color) !important;
    color: var(--navbar-text-color) !important;
}

.navbar .nav-link {
    color: var(--navbar-text-color) !important;
}

.navbar .nav-link:hover {
    background-color: var(--navbar-hover-bg-color) !important;
    color: var(--navbar-hover-text-color) !important;
}

.dropdown-menu {
    background-color: var(--navbar-bg-color);
}

.dropdown-item {
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
}

.dropdown-item:hover {
    background-color: var(--navbar-hover-bg-color);
    color: var(--navbar-hover-text-color);
}